.favoriteButton {
  width: 180px;
  height: 30px;
  background: #6461a0;
  border: white 3px solid;
  border-radius: 10px;
  color: white;
}

.favoriteButton:hover {
  width: 180px;
  height: 30px;
  background: #9191e9;
  border: white 3px solid;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
