/* mainbody */
.mainbody {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.mainbody .button {
  width: 180px;
  height: 30px;
  background: #6461a0;
  border: white 3px solid;
  border-radius: 10px;
  color: white;
  transition: 0.25;
}

.mainbody .button:hover {
  width: 180px;
  height: 30px;
  background: #9191e9;
  border: white 3px solid;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
